In [2]:
x = 10 
y = 12 # if x is greater than y
if x > y:
    print ("x > y") # if x is lesser than y
elif x < y:
    print ("x < y")
else:
    print ("x = y")

x < y

In [3]:
isGreater = True if x > 10 else False
isGreater

False

In [6]:
def addElements( a, b=5 ):  
    return a + b

In [9]:
addElements(2)

7

In [10]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [11]:
batsmen[0:3]

['Rohit', 'Dhawan', 'Kohli']

In [12]:
batsmen[-2]

'Rayudu'

In [13]:
batsmen[-4]

'Kohli'

In [14]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [15]:
all_players = batsmen + bowlers 
all_players

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [16]:
players = tuple( all_players )

In [17]:
players

('Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal')

In [18]:
players[3]

'Rahane'

In [19]:
players(3)

TypeError: 'tuple' object is not callable

In [20]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj", "Yusuf"}
wc2015 = {"Dhoni", "Dhawan", "Rohit", "Rahane", "Kohli", "Raina", "Rayudu", "Jad eja"} 
wc2011.union( wc2015 )

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jad eja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

In [22]:
wc2011.intersection( wc2015 )

{'Dhoni', 'Kohli', 'Raina'}

In [23]:
wc2015.difference( wc2011 )

{'Dhawan', 'Jad eja', 'Rahane', 'Rayudu', 'Rohit'}

In [24]:
wc2011.intersection( wc2015 ) 
wc2015.difference( wc2011 )

{'Dhawan', 'Jad eja', 'Rahane', 'Rayudu', 'Rohit'}

In [25]:
wcWinners = { 1975: "West Indies", 1979: "West Indies", 1983: "India", 1987: "Australia", 1991: "Pakistan", 1996: "Srilanka", 1999: "Australia", 2003: "Australia", 2007: "Australia", 2011: "India"} 
wcWinners[1983]

'India'

In [26]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India'])

In [27]:
set(wcWinners.values())

{'Australia', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

In [31]:
string0 = 'python'
string1 = "machine learning" 
string2 = """This is a multiline string""" 
# Converting to upper case
string2.upper()
# Similarly string.lower() can be used to convert to lower case. #

'THIS IS A MULTILINE STRING'

In [30]:
string2.lower()

'this is a multiline string'

In [32]:
tokens = string1.split(' ') 
tokens

['machine', 'learning']

In [35]:
intList = [1,2,3,4,5,6,7,8,9] 
cubeList = [] 
for x in intList:
    cubeList.append( pow( x, 3 ) )

print( cubeList )

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [48]:
def square_me( y ):
    return y * y
for x in intList:
    cubeList.append( square_me(x))
print( cubeList )

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
intList = [1,2,3,4,5,6,7,8,9] 
def square_me( x ):
    return x * x
squareList = map( square_me, intList)
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
squareList = map(lambda x: x*x, intList) 
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
import math
## Taking square root of a value 
math.sqrt(16)

4.0

In [54]:
from random import sample 
sample( range(0, 11), 3)

[2, 10, 5]

In [56]:
import random
randomList = random.sample( range(0, 100), 20) 
randomList

[32, 18, 9, 40, 54, 51, 72, 83, 42, 70, 1, 25, 45, 88, 20, 26, 35, 46, 60, 67]

In [57]:
from statistics import mean, median 
def getMeanAndMedian( listNum ):
    return mean(listNum),median(listNum)
mean, median = getMeanAndMedian( randomList ) 
print( "Mean: ", mean, " Median: ", median)

Mean:  44.2  Median:  43.5